---
import { Image } from 'astro:assets';
import lamda from '../assets/lamda.png'
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout pageTitle='Home page'>
	<h2>Peregrinus' personal blog</h2>
	<Image src={lamda} width={100} alt="lamda" />
</BaseLayout>